<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
    </div>
  </div>
</div>
<!-- Page content -->
<div id="main-container" class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="border: radius 5px;;" >
          <a class="navbar-brand" style="color:white;">Terrain :</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarColor02">
             <ul class="navbar-nav mr-auto">
             </ul>
             <form class="form-inline my-2 my-lg-0">
                <input type="search" (ngModelChange)="searchTerrain(key.value)" ngModel #key="ngModel"
                 name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search Terrains..." required>
             </form>
          </div>
        </nav>
        <div class="row clearfix" style="padding: 20px;">
          <div class="col-lg-3 col-md-4 col-sm-12" *ngFor="let terrain of terrains">
            <div class="card product_item">
              <div class="body">
                <div class="cp_img">
                  <img
                    src="{{terrain.image}}"
                    alt="terrain"
                    class="img-fluid" style="width : 230px;
                    height : 200px;"
                  />
                  <div class="hover">
                    <a
                    (click)="onOpenModal(terrain,'edit')"
                      class="btn btn-primary btn-sm waves-effect"
                      ><i class="zmdi zmdi-plus" ></i
                    >Résérver</a>
                    <a
                    (click)="onOpenModal(terrain,'info')"
                      class="btn btn-warning btn-sm waves-effect"
                      ><i class="zmdi zmdi-shopping-cart"></i
                    >info</a>
                  </div>
                </div>
                <div class="product_details">
                  <h5><a href="ec-product-detail.html">{{terrain.nom}}</a></h5>
                  <ul class="product_price list-unstyled">
                    <li class="old_price"><p [ngClass]="{red: terrain.etat == 'Non Résérvé',green: terrain.etat == 'Résérvé'}">{{terrain.etat}}</p></li>
                    <li class="new_price">{{terrain.tarif}} DH</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer py-4">
          <nav aria-label="...">
            <ul class="pagination justify-content-end mb-0">
              <li class="page-item disabled">
                <a class="page-link" href="javascript:void(0)" tabindex="-1">
                  <i class="fas fa-angle-left"></i>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item active">
                <a class="page-link" href="javascript:void(0)">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">2 <span class="sr-only">(current)</span></a>
              </li>
              <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">
                  <i class="fas fa-angle-right"></i>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>




<!-- add terrain Modal -->
<div class="modal fade" id="addTerrainModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!--    the form ////////////////////////////////-->
        <form
          role="form"
          #addTerrain="ngForm"
          (ngSubmit)="onAddTerrain(addTerrain)"
        >
          <div class="form-group">
            <div class="input-group input-group-alternative mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"
                  ><i class="ni ni-hat-3"></i
                ></span>
              </div>
              <input
                ngModel
                name="nom"
                class="form-control"
                placeholder="Nom"
                type="text"
              />
            </div>
          </div>
          <div class="form-group">
            <div class="input-group input-group-alternative mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"
                  ><i class="ni ni-hat-3"></i
                ></span>
              </div>
              <input
                ngModel
                name="address"
                class="form-control"
                placeholder="Adresse"
                type="text"
              />
            </div>
          </div>
          <div class="form-group">
            <div class="input-group input-group-alternative mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"
                  ><i class="ni ni-hat-3"></i
                ></span>
              </div>
              <input
                ngModel
                name="etat"
                class="form-control"
                placeholder="Etat"
                type="text"
              />
            </div>
          </div>
          <div class="form-group">
            <div class="input-group input-group-alternative mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"
                  ><i class="ni ni-email-83"></i
                ></span>
              </div>
              <input
                ngModel
                name="lat"
                class="form-control"
                placeholder="latitude"
                type="text"
              />
            </div>
          </div>
          <div class="form-group">
            <div class="input-group input-group-alternative mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"
                  ><i class="ni ni-email-83"></i
                ></span>
              </div>
              <input
                ngModel
                name="longitude"
                class="form-control"
                placeholder="Longitude"
                type="text"
              />
            </div>
          </div>
          <div class="text-center">
            <button
              type="submit"
              class="btn btn-primary mt-4"
            >
              Ajouter Terrain
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!--Edit terrain Modal -->
<div
  class="modal fade"
  id="editTerrainModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Résérver terrain</h1>
        <button
          id="editClose"
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form role="form" #editForm="ngForm">
          <div class="form-group">
            <div class="input-group input-group-alternative mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"
                  ><i class="ni ni-hat-3"></i
                ></span>
              </div>
              <input
                type="hidden"
                ngModel="{{ editTerrain?.id }}"
                name="id"
                class="form-control"
                placeholder="id"
              />
            </div>
          </div>
          <div class="form-group">
            <div class="input-group input-group-alternative mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"
                  ><i class="ni ni-hat-3"></i
                ></span>
              </div>
              <input 
              type="hidden"
                ngModel="{{ editTerrain?.nom }}"
                name="nom"
                class="form-control"
                type="text"
              />
            </div>
          </div>
          <div class="form-group">
            <div class="input-group input-group-alternative mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"
                  ><i class="ni ni-hat-3"></i
                ></span>
              </div>
              <input
              type="hidden"
                ngModel="{{ editTerrain?.description }}"
                name="description"
                class="form-control"
                placeholder="Description"
                type="text"
              />
            </div>
          </div>
          <div class="form-group">
            <div class="input-group input-group-alternative mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"
                  ><i class="ni ni-hat-3"></i
                ></span>
              </div>
              <input
                ngModel="{{ editTerrain?.etat }}"
                name="etat"
                class="form-control"
                placeholder="Etat"
                type="text"
              />
            </div>
          </div>
          <div class="form-group" type="hidden">
            <div class="input-group input-group-alternative">
              <div class="input-group-prepend">
                <span class="input-group-text"
                  ><i class="ni ni-lock-circle-open"></i
                ></span>
              </div>
              <select ngModel="{{ editTerrain?.type}}" name="type" class="form-control">
                <option>foot</option>
              </select>
            </div>
          </div>
          <div class="form-group" type="hidden">
            <div class="input-group input-group-alternative mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"
                  ><i class="ni ni-email-83"></i
                ></span>
              </div>
              <input
              type="hidden"
                ngModel="{{ editTerrain?.rank }}"
                name="rank"
                class="form-control"
                placeholder="Rank"
                type="text"
              />
            </div>
          </div>
          <div class="form-group" type="hidden">
            <div class="input-group input-group-alternative mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"
                  ><i class="ni ni-email-83"></i
                ></span>
              </div>
              <input
              type="hidden"
                ngModel="{{ editTerrain?.sol }}"
                name="sol"
                class="form-control"
                type="text" placeholder="SOL"
              />
            </div>
          </div>
          <div class="form-group" hidden>
            <div class="input-group input-group-alternative mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"
                  ><i class="ni ni-email-83"></i
                ></span>
              </div>
              <input
              type="hidden"
                ngModel="{{ editTerrain?.image }}"
                name="image"
                class="form-control"
                type="text" placeholder="SOL"
              />
            </div>
            <div class="input-group input-group-alternative mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"
                  ><i class="ni ni-email-83"></i
                ></span>
              </div>
              <input
              type="hidden"
                ngModel="{{ editTerrain?.tarif }}"
                name="tarif"
                class="form-control"
                type="text" placeholder="SOL"
              />
            </div>
          </div>
          <div class="text-center">
            <button
              (click)="onEditTerrain(editForm.value)"
              type="submit"
              class="btn btn-warning mt-4"
            >
              Résérver Terrain
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Delete Modal -->
<div
  class="modal fade"
  id="deleteTerrainModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Terrain</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete {{ deleteTerrain?.nom }}?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
          (click)="onDeleteTerrain(deleteTerrain?.id)"
          type="button"
          class="btn btn-danger"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</div>


<!--Edit terrain Modal -->
<div
  class="modal fade"
  id="infoTerrainModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">info terrain</h1>
        <button
          id="editClose"
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form role="form" #infoForm="ngForm">
          <div class="form-group">
            <div class="input-group input-group-alternative mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"
                  ><i class="ni ni-hat-3"></i
                ></span>
              </div>
              <input
                type="hidden"
                ngModel="{{ infoTerrain?.id }}"
                name="id"
                class="form-control"
                placeholder="id"
              />
            </div>
          </div>
          <div class="form-group">
            <div class="input-group input-group-alternative mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"
                  ><i class="ni ni-hat-3"></i
                ></span>
              </div>
              <input
                ngModel="{{ infoTerrain?.nom }}"
                name="nom"
                class="form-control"
                type="text"
              />
            </div>
          </div>
          <div class="form-group">
            <div class="input-group input-group-alternative mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"
                  ><i class="ni ni-hat-3"></i
                ></span>
              </div>
              <input
                ngModel="{{ infoTerrain?.description }}"
                name="description"
                class="form-control"
                placeholder="Description"
                type="text"
              />
            </div>
          </div>
          <div class="form-group">
            <div class="input-group input-group-alternative mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"
                  ><i class="ni ni-hat-3"></i
                ></span>
              </div>
              <input
                ngModel="{{ infoTerrain?.etat }}"
                name="etat"
                class="form-control"
                placeholder="Etat"
                type="text"
              />
            </div>
          </div>
          <div class="form-group">
            <div class="input-group input-group-alternative">
              <div class="input-group-prepend">
                <span class="input-group-text"
                  ><i class="ni ni-lock-circle-open"></i
                ></span>
              </div>
              <select ngModel="{{ infoTerrain?.type}}" name="type" class="form-control">
                <option>foot</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group input-group-alternative mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"
                  ><i class="ni ni-email-83"></i
                ></span>
              </div>
              <input
                ngModel="{{ infoTerrain?.rank }}"
                name="rank"
                class="form-control"
                placeholder="Rank"
                type="text"
              />
            </div>
          </div>
          <div class="form-group">
            <div class="input-group input-group-alternative mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"
                  ><i class="ni ni-email-83"></i
                ></span>
              </div>
              <input
                ngModel="{{ infoTerrain?.sol }}"
                name="sol"
                class="form-control"
                type="text" placeholder="SOL"
              />
            </div>
          </div>
          <div class="text-center">
            <agm-map [latitude]="33.5731104" [longitude]="-7.5898434">
              <agm-marker [latitude]="infoTerrain?.lat" [longitude]="infoTerrain?.longitude"></agm-marker>
          </agm-map>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>